.howItWorks span {
    color: #cf711f;
    font-size: 3.8rem;
    font-weight: 600;
}

.howItWorks h2 {
    font-size: 4.4rem;
    line-height: 1.2;
}

.howItWorks h3 {
    font-size: 3.6rem;
    line-height: 1.2;
}

.howItWorks .heading span {
    font-weight: 500;
    display: block;
    margin-bottom: 1.6rem;
}

.howItWorks section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.howItWorks section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.howItWorks section div::before,
.howItWorks section div::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.howItWorks section div::before {

    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
}

.howItWorks section div::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #FAE5D3;
}

.howItWorks img {
    width: 35%;
}

.howItWorks .description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}