* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;

  box-sizing: border-box;
}

body {
  background-color: #111;
}

.controls {
  position: absolute;
  z-index: 2;
}

.content {
  position: relative;
}
.selected {
  background-color: greenyellow;
}

.card {
  user-select: none;
  color: white;
  border: 10px solid #f3f3f3;
  background-color: #e7ceaa;
  position: absolute;
  z-index: 1;
  text-align: center;
  max-width: 300px;
  padding: 20px 16px;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card:hover {
  cursor: grab;
}

.top {
  border: 3px solid #d0d0d0;
  background-color: white;
  font-weight: 600;
  padding: 12px 0;

  color: #3a3a3a;
}

.divImage {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

img {
  display: block;
  width: 99%;
  margin-left: 0.5%;
  border: 5px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 1%;
}

.bottom {
  padding: 8px;
  border: 3px solid #d0d0d0;
  background-color: #f3f3f3;
  color: #3a3a3a;
}

.controls {
  position: absolute;
  z-index: 9;
}

.controls li {
  padding: 3%;
}

.option {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 251, 251, 0.2);
  border-radius: 5px;
  padding: 10% 35%;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.5s;
}

.option:hover {
  background-color: #71ccb8;
}

.selected {
  background-color: #03b890;
}

.delete {
  background-color: #f07050;
}
.delete:hover {
  background-color: #ff3300;
}

.being_dragged:hover {
  cursor: grabbing;
}

.line {
  position: absolute;
  width: 5px;
  margin-top: -1px;
  background-color: white;
}

.line:hover {
  background-color: red;
}

.highlight {
  background-color: aquamarine;
}
