ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img{
    max-width:100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #131313;
    gap: 1em;
}

.card{
    position: relative;
}
.movie{
    position: relative;
    width: 50vh;
    height: 50vh;
    background-color: #202024;
    border-radius: 5%;
    overflow: hidden;
}
.movie::before{
    z-index: 10;
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: black;
    clip-path: circle(8vh at 100% -5%);
    transition: 0.5s ease-in-out;
}
.movie:hover:before{
    clip-path: circle(8vh at 100% -25%);
}
.movie::after{
    z-index: 10;
    transition: 0.5s ease-in-out;
    content: '18';
    position: relative;
    top: 1%; left: 92%;
    font-size: 2em;
    color: white;

}
.movie:hover:after{
    position: absolute;
    top: -10%; left: 100%;
    font-size: 2em;
}
.imageContainer{
    position: absolute;
    top: 0%;
    transform: translateY(0%);
    width: 100%;
    height: 12em;
    transition: .5s;
}

.movie:hover .imageContainer{
    top: 0%;
    transform: translateY(-200%);
    transition: 1s ;
}

.imageContainer img{
    position: absolute;
    top: 0%; left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.description{
    color: white;
    position: absolute;
    bottom: 50em;
    text-align: center;
    transition: 1s;
    z-index: 1;
    padding: 2em;
} 

.movie:hover .description{
    bottom: 0;
}

