*{margin:0}
header {
	background-color:#202024;
	display: flex;
	justify-content: space-between;
	padding: 1rem 4rem;
	align-items: center;
	margin-bottom: 1rem;

}
body{
	background-color: #111113;
	color: #e0e5e9;
	font-size: 1rem;
}
button{
	display: flex;
	align-items: center;
	line-height: 0;
	gap: .1rem;

}
button img{
	width: 2rem;
	height: 2rem;
}
header ul{
	display: flex;
	gap: .8rem;
}
ul{
	list-style: none;
}

.apart{
	display: flex;
	gap: 1rem;
	
}
aside, main{
	
	border-radius: 0 6.14px 0 0;
	
	
	
}
aside{
	flex-basis: 30%;
	background-color: #202024;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	border-radius: 0 6.14px 0 0;
}

.myPhoto{
	text-align: center;
	padding: 1rem;
	border: 1px solid white;
	margin-bottom: 2rem;
}
.myPhoto img{
	height: 70%;
	width: 70%;
	border-radius: 50%;
	

}
.knowledge{ 
	float: left;
	border: 1px solid white;
	border-radius: 6px;
	margin-bottom: 2rem;
}
.knowledge ul{
	display: flex;
	flex-wrap: wrap;
	
}
.knowledge img{
	height: 100%;
	width: 100%;
}
.work{
	float: left;
	border: 1px solid white;
	border-radius: 6px;
	margin-bottom: 2rem;
	

}
.contact{
	float: left;
	border: 1px solid white;
	border-radius: 6px;
	margin-bottom: 2rem;
}

main{
	flex: 1;
	padding: 16px;
	border: 1px solid red;
	border-radius: 6.14px 0 0 0;
}
main ul{
	list-style: decimal;
	display: flex;
	flex-direction: column;

}
.projects {
	border: 1px solid white;
	padding: 1rem;
	margin: 1rem 0;
}
.aboutMe {
	border: 1px solid white;
	padding: 1rem;
}
