
body{
margin: 0;
font-size: 1.2em;
font-family: 'Libre Baskerville', serif;
  background-color:  #48c9b0;
}
header{
overflow: hidden;
position: fixed;
 background-color: #333;
width: 100%;
top:0px;
font-size: 1em;
text-align: center;

}
header a{

  color: #f2f2f2;
  text-decoration: none;
  margin-right: 20px;



}
header a:hover {
  background: #ddd;
  color: black;
}
header li{
color: white;
display: inline-block;
font-size: 1.4em;


}
#home{
	text-align: center;
	padding-top: 45px;
}
.logo{

margin-right: 50px;
}
 .eueu img{
 	

 width: 13%;

 display: block;
  margin-right: auto;
  margin-left: auto;

}
p{
text-align: justify;
	width: 80%;
	margin: auto;
	padding-top: 15px;

}
main {

  margin-top: 10px;
  font-size: 2em;

  width: 85%;
  margin:auto;
  background-color: white;

}

.pro-col{
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
vertical-align:text-top;
height: auto;
color: white; 

background-color: #bcbcbc;
width: 28%;



}

.pro-col ul{
padding: 0;
	list-style-type: none;
text-align: center;

margin: auto 0;


}
.pro-col li a{
	color: white;
text-decoration: none;
list-style-type: none;
margin: auto 0;
display: inline-block;

}
.pro-col img{
	width: 30%;
}
.container {

font-size: 1em;
padding-bottom: 30px;
width: 100%;
text-align: center;

}
footer{

background-color: #333;
width: 100%;
top:0px;
color: #f2f2f2;
  text-decoration: none;
text-align: center;
padding-top: 16px;
padding-bottom: 16px;

}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #424949;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: #24262b;
	background-color: #e6e6e6;
}