*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: black;
}

h1{
    color: white;
    position: absolute;
    text-align: center;
    font-size: 5rem;
}