*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas{
    position: absolute;
    top:0; left: 0;
}
#glass{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid grey;
    border-radius: 50%;
    width: 25vh;
    height: 25vh;

}