.recipes{
    position: relative;
    align-items: center;
    text-align: center;
}
body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color:white;
    display: flex;
    flex-direction: column;
}
