*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.audioContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
#canvas{
    position: absolute;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: radial-gradient(black, rgb(31, 27, 27));
}
#audio{
    width: 50%;
    margin: 5em auto;
    display: block;
}
#file{
    align-self: center;
}

h1{
    text-align: center;
    margin:1em;
    font-family:DotGothic16,MingLiU_HKSCS-ExtB,Arial, Helvetica, sans-serif;
}