*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    overflow: hidden;
}
#canvas{
    position: absolute;
    top:0; left: 0;
    background: black;
    z-index: -1;
}

#aviso{
    display: flex;
    color: white;
    font-size: 5vw;
    justify-content: center;
}
