*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#111113;
    font-family: 'Press Start 2P', cursive;
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;

    grid-template-columns: repeat(4, 10vh);
    grid-template-rows:minmax(10vh, auto) repeat(6,12vw);
    margin: 5vh;
}

.calculator button{
    font-family: 'Press Start 2P', cursive;
    color:rgb(33, 41, 82);
    cursor: pointer;
    font-size: 4vw;
    border: 3px solid rgb(92, 75, 122);
    background-color: rgb(132, 116, 159);
    
    will-change: transform;
    transition: transform 150ms;

    box-shadow: rgb(217, 199, 224) 0px 5px 3px 0px inset, rgba(255, 255, 255, 0.5) -3px 0px 3px 0px inset;
}

.calculator button:hover{
    transform: translate(-10%, -10%);
    transition: transform 30ms;
}

.fat{
    grid-column: span 2;
}

.monitor{
    font-family: 'Press Start 2P', cursive;
    color: lightgreen;
    font-size: 4.5vw;
    padding: .1vw;
    grid-column: 1/-1;
    background-color: rgba(0, 136, 80, .7);
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

#warning{
    font-family: 'Press Start 2P', cursive;
    visibility:hidden;
    font-size: 2.5vh;
    grid-column: 1/-1;
    background-color: #202024;
    display: flex;
    color: white;
    padding: 0.3rem;
    justify-content: center;
    padding-right: .3rem;
    word-wrap: break-word;
    word-break:normal;
}

#canvas1{
    position: absolute;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}