*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#111113;
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;

    grid-template-columns: repeat(4, 10vh);
    grid-template-rows:minmax(10vh, auto) repeat(6,10vh);
}

.calculator button{
    color:white;
    cursor: pointer;
    font-size: 3rem;
    border: .1rem solid white;
    background-color: #202024;
}

.calculator button:hover{
    background-color: rgba( 32, 32, 36, .1 );
}

.fat{
    grid-column: span 2;
}

.monitor{
    font-family:DotGothic16, MingLiU_HKSCS-ExtB, Arial, Helvetica, sans-serif;
    color: lightgreen;
    font-size: 3.5rem;
    grid-column: 1/-1;
    background-color: #202024;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding-right: .3rem;
    word-wrap: break-word;
    word-break: break-all;
}
#warning{
    visibility:hidden;
    font-size: 3.5rem;
    grid-column: 1/-1;
    background-color: #202024;
    display: flex;
    color: white;
    padding: 0.3rem;
    justify-content: center;
    padding-right: .3rem;
    word-wrap: break-word;
    word-break:normal;
}

#canvas1{
    position: absolute;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}