*{
    padding: 0;
    margin: 0;
    display: inline-block;
}
ul {
    list-style: none;
}

.banner{
    display: flex;
    justify-content: center;
}
img{
    max-width:100%;
}

body{
    background: #141414;
    color: white;
    overflow-x: hidden;

}

.about{
    width: 100%;
    height: 100vh;
    display: inline-block;
    background-color: grey;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card{
    position: relative;
}
.movie{
    position: relative;
    width: 50vh;
    height: 50vh;
    background-color: #202024;
    border-radius: 5%;
    overflow: hidden;
}

.imageContainer{
    position: absolute;
    top: 0%;
    transform: translateY(0%);
    width: 100%;
    height: 25em;
    transition: 1s;
    z-index: 5;
}

.movie:hover .imageContainer{
    top: 0%;
    transform: translateY(-65vh);
    transition: 1s ;
}

.imageContainer img{
    position: absolute;
    top: 0%; left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.description{
    color: white;
    font-size: 3vh;
    position: absolute;
    bottom: 30em;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 1s;
    padding: 1em;
    z-index: 1;
} 
.showInfo{
    display: flex;
    gap: 1em;

}
.showInfo div{
    display: flex;
    justify-content:center;
    align-items: center;
    flex:1;
}

.movie:hover .description{
    bottom: 0;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    margin: 0;
}

h4{
    margin: .5em;
}

hr{
    width: 100%;
    margin: 3% 0;
}
h2{
    margin: 0;
}

li{
    font-size: 1em;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#github, #demo{
    width: 3em;
    height: 3em;
}

#demo:hover{
    filter: invert(65%) sepia(75%) saturate(480%) hue-rotate(74deg) brightness(98%) contrast(95%);
    transition: .5s;
}

#github:hover{
    filter: invert(100%) sepia(1%) saturate(2462%) hue-rotate(157deg) brightness(123%) contrast(95%);
    transition: .5s;
}
