*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.725rem);
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

canvas {
  height: 100vh;
  width: 100vw;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background: #0c0c0c;
}

main {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vh;
}

.card {
  position: relative;
  width: 25em;
  height: 25em;
  max-width: 100%;
  border-radius: 5%;
  overflow: hidden;
}

.imageContainer {
  filter: brightness(80%);
  will-change: filter;
  transition: filter 450ms;
}

.github {
  display: none;
  position: relative;
  width: 7vh;
  will-change: filter;
  transition: filter 450ms;
}

.github:hover {
  filter: sepia(1);
  transition: 50ms ease-in-out;

}

.card:hover .imageContainer {
  cursor: pointer;
  top: 0%;
  filter: brightness(100%);
  transition: 50ms ease-in-out;

}

.imageContainer img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

/* navbar */

header {
  background-color: rgb(17, 17, 19);
  min-height: 5vh;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  color: white
}

#counter {
  font-family: DotGothic16, MingLiU_HKSCS-ExtB, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

.switch {
  margin-left: auto;
}

nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav img {
  width: 4rem;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 59em) {
  .card {
    width: 15em;
    height: 15em;
  }
}

@media (max-width: 44em) {
  .card {
    width: 10em;
    height: 10em;
  }

  @media (max-width: 34em) {

  }

  .slider, .switch, header img{
    display: none;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{
    font-size: .8em;
  }

  nav h1::after{
    content: " made with ❤ by Hugo";
  }

}