body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
}

ul{
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    nav, nav ul{
        flex-direction: column;
        align-items: center;
    }
}