*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #703529;
}
#canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: saturate(1.4);
    filter: contrast(1.3)
}
