body{
	background-color: #111113;
	color: #e0e5e9;
}
.eye{
    background-color: white;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
}
.left{
    left: 55%;
    top: 20%;
}
.right{
    left: 35%;
    top: 20%;
}
.pupil{
    background-color: black;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
}