@import url('./variables.css');

main section {
	max-width: 130rem;
	border: 3px solid #BF0033;
	border-radius: 16px;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.2rem;
    padding: 2rem;
    position: relative;
}

main section > span{
    padding: .3rem 1rem;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    text-transform: capitalize;
    margin: 2rem;
	border: 3px solid #BF0033;
	border-radius: 16px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container img{
	width: 15rem;
}

.container h2{
    font-size: 3.2rem;
	font-weight: 600;
}

.container p{
    font-size: 2.6rem;
}


.buttons{
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 2vw;
}

.buttons a{
	align-self: center;
	background-color: #04AA6B;
	border: none;
	border-radius: 12px;
    font-size: 2.2rem;
	font-family: 'Roboto', sans-serif;
	color: inherit;
	cursor: pointer;
	outline-offset: 4px;
	padding: .6rem 2.6rem;
	color: white;
	will-change: transform;
	transition: transform 350ms;
	display: flex;
	justify-content: center;
    align-items: center;
    gap: .5rem;
}

.buttons a:hover{
	transform: scale(1.05);
}

.buttons img{
	display: inline-block;
    width: 3.2rem;
}

.buttons .github{
	background-color: white;
	color: #141414;
}

.arrow{
	font-weight: 700;
	font-size: 3.2rem;
	will-change: transform;
	transition: ease-in-out 250ms;
}

.goTo:hover .arrow{
	transform: translateX(8px);
}

.buttons .github img{
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(117deg) brightness(110%) contrast(101%);
}

.solarSystem {
	background-image: var(--solarSystem);
	background-size: 100% 100%;
}

.weatherAPI {
	background-image: var(--weatherAPI);

}