body{
	background-color: black;
	color: #e0e5e9;
    margin: 0;
}
.parallax-item{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-container{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.parallax-container.alt{
    background-color: aquamarine;
}